{{define "home/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">
  {{template "sidebar" .}}
  <div id="main-column">
    <div class="jumbotron">
      <h2>{{.Title}}</h2>
      <div class="well">
        <a href="https://github.com/RyotaNakajimakun/blog">GitHub URL</a>
      </div>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
